.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.intro-text {
  color: #4b5563;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.main-heading {
  font-size: 3rem; 
  padding: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 640px) {
  .main-heading {
    font-size: 8rem; 
  }
}

.heading-black {
  display: block;
  color: black;
}

.heading-outline {
  display: block;
  color: transparent;
  -webkit-text-stroke: 2px black;
  /* text-stroke: 2px black;  */
}

.location {
  color: #4b5563; /* gray-600 */
  display: flex;
  justify-content: space-between;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 0.5rem;
}

.tech-stack {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
