@import "tailwindcss";

/* <<<========================== Scrollbar =================== >>> */

::-webkit-scrollbar{
  display: none;
}


/* <<<========================== Spinning Animation (Qualification.jsx) =================== >>> */


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 5s linear infinite; 
}

/* <<<========================== Spinning Animation (Qualification.jsx) =================== >>> */


.object{
  object-position: 0 35%; 
}



/* <<<========================== Text Outline (Landing Page.jsx) =================== >>> */
.stroke-text {
  -webkit-text-stroke: 2px black;
  color: transparent;
}
